<nav class="navbar navbar-expand-lg navbar-light fixed-top bg-light">
    <a class="navbar-brand" href="#">Blog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard"><i class="fa fa-home fa-fw"></i>Aceuil <span class="sr-only">(current)</span></a>
        </li>
    
     
          <li class="nav-item">
              <a class="nav-link" routerLink="/users"> <i class="fa fa-users"></i>Membres</a>
            </li>

          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fa fa-snapchat-ghost"></i>  Notification({{recentarticles$?.length}})
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
               
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" routerLink="/desablearticles/{{item._id}} "(click)= "save_id_art(item._id)" *ngFor="let item of recentarticles$">{{item?.nomAuthor}} {{item?.prenomAuthor}}<br> demande la publication de l'article:{{item?.articleTitle}}</a>
              </div>
            </li>
          
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-fw fa-user">  </i>Profil
          </a>
         
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Modifier profil</a>
            <a class="dropdown-item" routerLink="/login"(click)="logout()">Déconnexion</a>
    </div>
        </li>
      
      </ul>
      <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
  </nav>


<!--card articles-->
<div id="section1">
<div class="card mb-3">
  <img src="{{ onearticle$?.articleImg}}" class="card-img-top" alt="...">
  <div class="card-body"> 
    <h3 class="card-title">&nbsp;&nbsp;{{ onearticle$?.articleTitle}}</h3>
    <p class="card-text">&nbsp;&nbsp;{{ onearticle$?.articleContent}}</p>
    <p id="info" class="card-text"><small class="text-muted">Crée par:{{ onearticle$?.nomAuthor}}&nbsp;{{ onearticle$?.prenomAuthor}}<br>  Date de publication: {{onearticle$?.articleDate |date }}</small></p>
  </div>
 
  <a id="routerlink"routerLink="/dashboard" routerLinkActive="active"(click)="supprimerArticle(onearticle$?._id)">Supprimer cet article</a>
  <div class="form-group">
      <h5 class="card-title">&nbsp;&nbsp;Commentaires</h5>

    <div *ngFor="let item of comments$">  <div class="card-text" ><h6>{{item.nomAuthor}} {{item.prenomAuthor}}</h6>&nbsp;&nbsp;{{item.commentContent}}</div> &nbsp;&nbsp; <button id="btn" type="button" class="btn btn-danger"(click)="supprimerComment(item._id)"><i class="fa fa-trash-o"></i></button><br><br></div>
     
    </div>
    <form>
     </form>
    </div>
   
</div>

 