<nav class="navbar navbar-expand-lg navbar-light fixed-top bg-light">
  <a class="navbar-brand" href="#">Blog</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/listearticle"><i class="fa fa-home fa-fw"></i>Aceuil <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link"routerLink="/myblogs"><i class="fa fa-book fa-fw" ></i>Mes articles</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLink="/ajoutarticle"> <i class="fa fa-plus"></i>Ajouter article</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-snapchat-ghost"></i>  Notification(1)
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
             
              <div class="dropdown-divider"></div>
              <a class="dropdown-item"><p><h6>votre article :&nbsp;{{currentmessages$.messageContent}} a été publié</h6></a>
            </div>
          </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-fw fa-user">  </i>Profil
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Modifier profil</a>
          <a class="dropdown-item" href="#"(click)="logout()">Déconnexion</a>
  </div>
      </li>
    
    </ul>
    <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
  </div>
</nav>
<!--card articles-->
<div id="section1">
<div class="card mb-3">
  <img src="{{ onearticle$?.articleImg}}" class="card-img-top" alt="...">
  <div class="card-body"> 
    <h5 class="card-title">{{ onearticle$?.articleTitle}}</h5>
    <p class="card-text">{{ onearticle$?.articleContent}}</p>
    <p class="card-text"><small class="text-muted">Date de publication: {{onearticle$?.articleDate |date }}</small></p>
  </div>
  <div id="group" class="form-group">
      <h5 class="card-title">Commentaires</h5>
      <div *ngFor="let item of comments$">
      <h6 class="card-text">{{item.nomAuthor}} {{item.prenomAuthor}}</h6>
      <p class="card-text">{{item.commentContent}}</p>
      <p id="date"class="card-text">Date:  {{item.commentDate |date}}</p><br><br>
    </div>
      <form [formGroup]="formcontent">   
      <textarea class="form-control"   formControlName="commentContent" id="exampleFormControlTextarea1" rows="1" placeholder="commenter cet article ici !"></textarea>
      <button id="btn"class="btn btn-primary"  (click)="createComment()">Commenter</button>
    </form>
    </div>
    <form>
  
  </form>
    </div>
   
</div>

 