body{
  background: url('https://previews.123rf.com/images/maxkabakov/maxkabakov1509/maxkabakov150903456/45267198-news-concept-glowing-text-blog-news-in-grunge-dark-room-with-wooden-floor-black-background.jpg');
  z-index: -1;
  background-position:center center;
  background-attachment:fixed;
 
}