div{
    width: 100%;
    height: auto;
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRXMtaN3yP4YA8vM2NB0XxAKQxhxei6jBmBdkJX9BnLNNtX0jG19Q");
    background-repeat: no-repeat ;
z-index:1 !important;

}